.my-deep-purple,.my-hover-deep-purple:hover{color:#fff!important;background-color:#390939!important}
.my-text-deep-purple{color:#390939!important}
.my-light-purple,.my-hover-light-purple:hover{color:black!important;background-color: #ddccdd!important;}
.my-text-light-purple{color:#cebfce!important;}
.my-lighter-purple,.my-hover-lighter-purple:hover{color:black!important; background-color: #ffddff!important;}
.my-text-lighter-purple{color:#ffddff!important;}